<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#1b3e6a',
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-white py-20">

    <div class="container m-auto">
        <header class="flex justify-between item-center ">
            <img class="w-60" src="/images/logo.jpeg" alt="logo">
            <h1 class="text-3xl text-primary">NWT Business Development and <br> Investment Corporation</h1>
        </header>

        <h4 class="text-2xl text-primary mt-20">Contribution</h4>
        <p class="mb-20">All records filled by user</p>



        {{{body}}}

    </div>



</body>

</html>